<table class="table table-hover">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>FileName</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody *ngFor="let model of modelfile; let i = index">
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ model.filename }}</td>
            <td><button class="btn btn-primary" (click)="render(i)">Render</button></td>
            <!-- <td><img src="data:image/jpg;base64,{{model.modelstring}}"></td> -->
        </tr>
    </tbody>
</table>